.loader {
  @include transition-ease;
  opacity: 0;
  z-index: -1000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  @include flex-center();
  background: radial-gradient(78.81% 78.81% at 51.2% 21.19%, #86E6FF 0%, #017EBE 100%);

  &.active {
    opacity: 1;
    z-index: 10000;
  }
}