.menu {
  color: #fff;
  display: flex;
  align-items: center;
  width: 100%;
  font-family: 'MDLZBITETYPE';

  @include response-to(medium) {
    margin-top: 0;
    justify-content: space-between;
  }

  .top-perek {

    @media(max-width: 1475px) {
      width: 375px;
      height: auto;

      &-bg {
        width: 375px;
        height: auto;
      }

      &-logo {
        top: 7px;
        right: 52px;
        width: 280px;
      }
    }

    @include response-to(large) {
      width: 295px;

      &-bg {
        width: 295px;
        height: auto;
      }

      &-logo {
        top: -6px;
        right: 34px;
        width: 222px;
      }
    }
  }

  .logo {
    margin-right: 109px;

    @media(max-width: 1295px) {
      margin-right: 50px;
    }
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @include response-to(large) {
      width: unset;
    }

    @include response-to(medium) {
      flex-direction: column;
      position: absolute;
      min-height: 100vh;
      z-index: 1000;
      top: 0;
      left: 0;
      width: 100%;
      transform: translateX(110vw);
      background-color: #00B8F1;
      justify-content: flex-start;
      padding-bottom: 120px;
      @include transition-ease;

      &.active {
        position: fixed;
        transform: translateX(0);
      }

      &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 120px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        content: '';
        background-image: url('../../img/menu-bg-min.png');
      }
    }
  }

  &__item {

    &:not(:last-of-type) {
      margin-right: 7px;
    }

    @include response-to(medium) {

      &.account {

        .menu__item_link {
          font-size: 0;

          @include response-to(medium) {
            font-size: 24px;
            line-height: 29px;
          }
        }
      }
    }

    &.active {

      @include response-to(medium) {
        margin-bottom: 40px;
      }
    }

    &.mob-logo {
      display: none;
      margin-bottom: 50px;
      margin-top: 20px;

      @include response-to(medium) {
        display: block;
      }
    }

    @include response-to(medium) {
      margin-bottom: 23px;
    }

    &_link {
      text-transform: uppercase;
      font-size: 18px;
      line-height: 110%;

      @include response-to(large) {
        font-size: 16px;
      }

      @include response-to(medium) {
        font-size: 24px;
        line-height: 29px;
      }
    }
    
    &.active {
      padding: 1px 14px 3px 4px;
      background-size: 100% 100%;
      background-image: url('../../img/menu-sale-bg.svg');
    }

    &.account {
      padding-left: 20px;
      position: relative;

      @include response-to(medium) {
        padding-left: 40px;
      }

      &:before {
        position: absolute;
        content: '';
        width: 18px;
        height: 15px;
        left: 0;
        transform: translateY(-50%);
        top: 50%;
        background-image: url('../../img/menu-account.svg');
        background-size: contain;
        background-repeat: no-repeat;

        @include response-to(medium) {
          width: 23px;
          height: 24px;
        }

        @include response-to(medium) {
          background-image: url('../../img/account-mob.svg');
          width: 30px;
          height: 30px;
        }
      }
    }
  }

  .mob-menu-btn {
    display: none;
    cursor: pointer;
    position: static;
    z-index: 1001;
    width: 30px;
    height: 31px;
    background-image: url('../../img/mob-menu-show.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    top: 23px;
    right: 20px;

    &.active {
      position: fixed;
      width: 29px;
      height: 34px;
      background-image: url('../../img/mob-menu-hide.svg');
    }

    &.hide {
      display: none;
    }

    @include response-to(medium) {
      display: block;
    }
  }
}