@font-face {
  font-family: 'MDLZBITETYPE';
  src: url('../../fonts/MDLZBITETYPE-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Tobi';
  src: url('../../fonts/Tobi_Black.ttf');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'rotondac';
  src: url('../../fonts/rotondac-bold.otf');
  font-weight: bold;
  font-style: normal;
}
